@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'chillax';
  src: url('../src/assets/Fonts/Chillax-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@layer components {
  .res-pad {
    @apply px-4 sm:px-6 md:px-8 lg:px-10 xl:px-14 2xl:px-20;
  }
}


html {
  scroll-behavior: smooth;
}

@theme {
  --font-chillax: 'chillax', "sans-serif";
}

.bebas {
  font-family: "Bebas Neue", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.p-color {
  color: #f8fafc;
}
.s-color {
  color: #10b981;
}

.g-color {
  color: #a1a1aa;
}

